:root {
    font-family: Helvetica, sans-serif;
    color-scheme: light dark; /* user preference */

    --card-border-rad: 12px;

    --color-bg: light-dark(white, #2d2d2d);
    --color-heading: light-dark(#3b4045, #cfd2d6);
    --color-text: light-dark(#35383b, #b9babd);
    --color-accent: light-dark(#20BDFF, #0f5877);

    --color-hover: light-dark(rgb(210, 200, 224), #625c64);
    --color-selected: light-dark(rgb(244, 231, 255), #504f57);
    --color-dropdown-bg: light-dark(rgb(247, 247, 247), #323133);
    --color-card-bg: light-dark(rgb(247, 247, 247), #292929);

    --name-gradient: linear-gradient(64deg, #463ce4 12%, #6a58de 66%, #ee26ce 100%);
}

input[type="radio"] {
    display: none;
}

label {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    height: 24px;
}

label:hover {
    background-color: var(--color-hover);
}

input[type="radio"]:checked+label {
    background-color: var(--color-selected);
}

label>svg {
    display: none;
    margin-right: 8px;
}

input[type="radio"]:checked+label>svg {
    display: inline;
}

@media (prefers-color-scheme: dark) {
    :root {
        --name-gradient: linear-gradient(90deg, #82f369 0%, #91cfff 50%, #ffaacc 100%);
    }
}

[data-theme="light"] {
    color-scheme: light;
    --name-gradient: linear-gradient(64deg, #463ce4 12%, #6a58de 66%, #ee26ce 100%);
}

[data-theme="dark"] {
    color-scheme: dark;
    --name-gradient: linear-gradient(90deg, #82f369 0%, #91cfff 50%, #ffaacc 100%);
}

::selection {
    background: var(--color-accent);
}

#theme-dropdown {
    position: fixed;
    right: 20px;
    top: 15px;
}

#theme-dropdown:last-of-type summary {
    list-style: none;
}

#theme-dropdown[open] {
    max-width: 120px;
}
  
#theme-dropdown[open] summary {
    margin-left: 50px;
    float: right;
}

#theme-picker {
    background-color: var(--color-dropdown-bg);
    color: var(--color-heading);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: none;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 8px 0;
}

.special-text {
    background: var(--name-gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
}

main {
    max-width: 80rem;
    padding: 0 2rem;
    margin: auto;
}

footer {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
}

h1 {
    font-size: 2.25rem;
    margin: 50px 2rem;
    max-width: 950px;
    color: var(--color-heading);
}

#theme-dropdown>summary>svg {
    vertical-align: middle;
    border-radius: 50%;
    background-color: var(--color-bg);
    padding: 3px;
}

.project-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

@media (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }
    header {
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0 50px;
    }
    #theme-dropdown>summary>svg {
        width: 30px;
        height: 30px;
        padding: 5px;
    }
    .project-cards {
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
}

project-card {
    border-radius: var(--card-border-rad);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: var(--color-card-bg);
    flex: 1 0 45%;
}

project-card h2 {
    color: var(--color-heading);
    margin-top: 0;
}

project-card a {
    text-decoration: none;
    color: var(--color-text);
}

project-card:hover h2 {
    color: var(--color-accent);
}

project-card img {
    overflow: hidden;
    border-top-left-radius: var(--card-border-rad);
    border-top-right-radius: var(--card-border-rad);
    height: 140px;
    object-fit: cover;
}

.card-body {
    padding: 16px;
}